[mergetool "meld2way"]
	cmd = meld \"$LOCAL\" \"$REMOTE\"
[mergetool "meld3way"]
	cmd = meld \"$LOCAL\" \"$MERGED\" \"$REMOTE\"
#	cmd = meld --output \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[merge]
	tool = meld3way
[diff]
	tool = meld2way
[include]
        path = ~/.gituser
[color]
	ui = auto
[push]
	default = simple
[user]
	email = mhop@posteo.de
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[oh-my-zsh]
	hide-dirty = 1
